<div class="container">
  <h1>{{tittle}}</h1>
  <p> <strong> Aplicación {{place}}</strong> </p>
  <ul>
    <li>Se podrá ver en detalle todo el surtido de artículos disponibles en nuestra tienda y comprar directamente desde la aplicación</li>
    <li>Permitirá al usuario ver el historial de todas las compras hechas en la tienda a través de la aplicación </li>
    <li>El usuario podrá estar al tanto de nuestras promociones y tendrá acceso rápido a contactarnos por medio de la aplicación </li>
  </ul>

</div>
